.formClass input {
    width: 20%;
    padding: 8px 15px;
    border: 2px solid #C196F4;
    border-radius: 4px;
    margin: 8px 0;
}

.formClass input:focus {
    border: 2px solid red;
}

.formClass label {
    float: left;
    width: 10em;
    margin-right: 1em;
    margin-top: 15px;
    color: #C196F4;
    font-weight: bold;
    font-size: 1.5rem;
    }

.bListDownloadBtn {
    color: white;
    background: #C196F4;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    border: 10px solid #C196F4;
    border-radius: 25px;
    font-size: 1.5rem;
    font-weight: bold;
}

.beneficiaryInfoPage {
    background: white;
    flex-direction: column;
    height: 100%;
}

.beneficiaryInfoPageTag {
    height: 1000px;
    margin-left: 350px;
}

.beneficiaryPageTag {
    height: 1000px;
    margin-left: 200px;
}

.datePickerDash {
    margin: 20px;
}

.myDatePickers {
    display: flex;
}

.indivDatePickers {
    margin: 8px;
}

.tokenValidityClass {
    margin-top: 10px;
    color: #C196F4;
    font-weight: bold;
    font-size: 1.5rem;
}