.contributorInfoPage {
    background: white;
    flex-direction: column;
    height: 100%;
}

.contributorInfoPageTag {
    height: 1000px;
    margin-left: 350px;
}

.cInfoFormClass input {
    width: 20%;
    padding: 8px 15px;
    border: 2px solid #FF7878;
    border-radius: 4px;
    margin: 8px 0;
}

.cInfoFormClass input:focus {
    border: 2px solid red;
}

.cInfoFormClass label {
    float: left;
    width: 10em;
    margin-right: 1em;
    margin-top: 15px;
    color: #FF7878;
    font-weight: bold;
    font-size: 1.5rem;
    }

.noFav {
    border: 2px solid #FF7878;
    width: 120px;
}